output
.DS_Store

# build artifacts
Gemfile.lock
SwitchingToGitInVisualStudio.html
SwitchingToGitInVisualStudio.pdf
SwitchingToGitInVisualStudio.pdfmarks
SwitchingToGitInVisualStudio.epub
SwitchingToGitInVisualStudio-kf8.epub
SwitchingToGitInVisualStudio.mobi
contributors.txt
